<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender class="org.apache.log4j.RollingFileAppender" name="RollingTextFile">
        <param value="log.txt" name="File"/>
        <param value="5" name="MaxBackupIndex"/>
        <param value="50MB" name="MaxFileSize"/>
        <layout class="org.apache.log4j.PatternLayout"/>
    </appender>
    <appender class="org.apache.log4j.ConsoleAppender" name="CONSOLE">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %t %5p [%c:%M] - %m%n" />
        </layout>
    </appender>
    <appender class="org.apache.log4j.FileAppender" name="TextFile">
        <param value="false" name="Append"/>
        <param value="/export/Log/copycat-example/info.log" name="File"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param value="%-6r %d{ISO8601} %-5p [%t] %c{2} (%F:%L).%M() - %m%n" name="ConversionPattern"/>
        </layout>
    </appender>
    <appender name="File" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="encoding" value="utf-8" />
        <param name="File" value="/export/Logs/copycat-example/${COPYCAT_LOGPATH}/info.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %t %5p [%c:%M] - %m%n" />
        </layout>
    </appender>
    <appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
        <param name="BufferSize" value="500"/>
        <appender-ref ref="TextFile"/>
        <appender-ref ref="stdout"/>
    </appender>
    <logger name="io.netty">
        <level value="info"/>
    </logger>
    <root>
        <level value="info"/>
        <appender-ref ref="File"/>
        <appender-ref ref="CONSOLE" />
    </root>
</log4j:configuration>